nav {
  width: 100vw;
  padding: 25px 150px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
}

.nav-logo img {
  width: 30px;
}

.nav-contact-us {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-contact-btn {
  margin-inline: 10px;
  padding: 7.5px 15px;
  border: none;
  border-radius: 4px;
  background: #0075fa;
  color: #ffffff;
  cursor: pointer;
  transition: all 150ms ease;
  font-family: inherit;
}

.nav-contact-btn:hover {
  color: #0075fa;
  background: #e2eaf5;
}

@media only screen and (max-width: 1080px) {
  nav {
    padding: 25px;
  }
}
