nav {
  width: 100vw;
  height: 50px;
  display: flex;
  padding-inline: 35px;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(223, 222, 222, 0.5);
  position: absolute;
  top: 0;
}

.nav-logo img {
  width: 30px;
}

.nav-contact-us {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.nav-contact-btn {
  margin-inline: 10px;
  padding: 3px 15px;
  border: none;
  border-radius: 4px;
  background: transparent;
  color: white;
  cursor: pointer;
  box-shadow: rgba(211, 211, 216, 0.25) 0px 6px 12px -2px,
    rgba(219, 212, 212, 0.3) 0px 3px 7px -3px;
  transition: all 150ms ease;
  font-family: inherit;
}

.nav-contact-btn:hover {
  color: rgb(166, 206, 247);
}
