@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  display: grid;
  place-items: center;
  position: relative;
}